<plugin name='php' version='0.1.8' grailsVersion='1.1 &gt; *'>
  <author>Taioli Fabiano, Mingfai Ma</author>
  <authorEmail>ftaioli@vista.it, mingfai.ma@gmail.com</authorEmail>
  <title>Support PHP in your Grails application with the Quercus PHP engine</title>
  <description>\
This plugin includes:
 - Use CleverCloud Querccus version  https://github.com/CleverCloud/Quercus
 - MySQL Connector (JDBC Driver) 5.1.13
 - Servlet configurations
 - Tested with Grails 1.3.7
 - to support UTF8 add unicode=true to init-params
</description>
  <documentation>http://grails.org/PHP+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>